/*** HEADER ***/
header {
    height: auto;
    background-color:pink;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    }
    h1.titre {
        font-size: 6vmax;
        font-family: fantasy;
        text-shadow: 2px 2px 0 white;
        color: black;
        margin: 0%;
        }
        h4 {
            font-size: 1.5vmax;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-shadow: 1px 1px 0 white;
            color: black;
            }
            
/*** NAVBAR ***/
.navbar {
    display: inline-flex;
    justify-content: space-around;
    text-align: center;
    background-color: black;
    height: auto;
    }
    a:hover {
        text-decoration: none;
        }
        ul, li {
            width: 7vmax;
            font-family: fantasy;
            font-size: 1vmax;
            text-transform: uppercase;
            list-style-type: none;
            color: black;
            padding: 0;     
            margin: 0;
            }
            li {
                border: 2px solid white;
                border-radius: 30% 0% 30% 0%; 
                background-color: pink;
                }
                li:hover {
                    color:black;
                    cursor: pointer;
                    font-size: small;
                    }

/*** SECTION / TABLE ***/
.table1, .table2 {
    font-size: 1.25vmax;
    margin-top: 4%;
    }
    th {
        border: 1px solid white;
        background-color:black;
        color: pink
        }
        .prix {
            text-align: center;
            font-size: large;
            }
            .warning {
                text-align: center;
                color: red;
                font-weight: bold;
                font-size: 1.25vmax;
                }

/*** FOOTER ***/
footer {
    background-color: black;  
    }
    .bloc-logo {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 5.5vh;
        padding: 0%;
        }
        .logo-reso {
            border-radius: 50%;
            height: 1.7vmax;
            width: 1.7vmax;
            margin-left: 1vmax;
            }
            .logo-reso:hover{
                border: 5px solid pink;
                }