/*** HEADER ***/
header {
    height: auto;
    background-color:pink;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    }
    h1.titre {
        font-size: 6vmax;
        font-family: fantasy;
        text-shadow: 2px 2px 0 white;
        color: black;
        margin: 0%;
        }
        h4 {
            font-size: 1.5vmax;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-shadow: 1px 1px 0 white;
            color: black;
            }
            
/*** NAVBAR ***/
.navbar {
    display: inline-flex;
    justify-content: space-around;
    text-align: center;
    background-color: black;
    height: auto;
    }
    a:hover {
        text-decoration: none;
        }
        ul, li {
            width: 7vmax;
            font-family: fantasy;
            font-size: 1vmax;
            text-transform: uppercase;
            list-style-type: none;
            color: black;
            padding: 0;     
            margin: 0;
            }
            li {
                border: 2px solid white;
                border-radius: 30% 0% 30% 0%; 
                background-color: pink;
                }
                li:hover {
                    color:black;
                    cursor: pointer;
                    font-size: small;
                    }

/*** SECTION / CAROUSEL ***/
.bloc {
    padding: 0%;
    margin: 0%;
    }
    .carousel {
        display: block;
        justify-content: center;
        border: 2px solid black;
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 11.6%;
        margin-bottom: 11.6%;
        }
        .carousel-inner {
            height: 100%;
            width: 100%;
            padding: 3%;
            background-color: whitesmoke;
            }
            .img-fluid {
                height: 22.3vmax;
                width: 100%;
                }
                .text-carousel {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.3vmax;
                    text-align: justify;
                    }

/*** FOOTER ***/
footer {
    background-color: black;  
    }
    .bloc-logo {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 5.5vh;
        padding: 0%;
        }
        .logo-reso {
            border-radius: 50%;
            height: 1.7vmax;
            width: 1.7vmax;
            margin-left: 1vmax;
            }
            .logo-reso:hover{
                border: 5px solid pink;
                }